<div id="speedrunContainer" class="card sortable border-secondary mb-3" data-bind="visible: true">
  <div class="card-header p-0" data-toggle="collapse" href="#speedrunTimerBody">
    <span style="text-align:center">Speedrun Timer</span>
  </div>
  <div class="card-body p-0">
    <h3 id="speedrunTimerClock" class="text-primary font-weight-bold">0</h3>
    <small id="speedrunTimerClockMS" class="text-primary font-weight-bold" style="margin-left: -5px">.000</small>
    <div id="speedrunTimerBody" class="show">
      <table id="speedrunTimerTable" class="table table-sm m-0">
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>
